

  <div class="container-fluid">
    <app-barratareas></app-barratareas>
    <section>
<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <h1>Proyección de Ventas</h1>
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">

                <h4 class="card-title">Productos</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <!--<i class="material-icons">access_time</i> updated 4 minutes ago-->
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    </div>


