<div class="content">
  <app-barratareas></app-barratareas>

  <div class="row">
    <div class="ml-5 col-12">
      <div *ngIf="salesData.length > 1">
        <h1>Modelo de Regresión Lineal Simple</h1>
        <div *ngIf="predictedSales !== null">
          <p>
            Ventas predichas para el próximo período:
            {{ predictedSales.toFixed(2) }}
          </p>
          <p>Error absoluto medio porcentual (MAPE): {{ mape?.toFixed(2) }}%</p>
          <p>Precisión: {{ accuracy?.toFixed(2) }}%</p>
          <p>Error absoluto medio (MAE): {{ mae?.toFixed(4) }}</p>
          <p>Error cuadrático medio (MSE): {{ mse?.toFixed(4) }}</p>
          <p>Raíz del error cuadrático medio (RMSE): {{ rmse?.toFixed(4) }}</p>
        </div>
      </div>
      <div *ngIf="salesData.length <= 1">
        <p>Datos insuficientes para realizar la regresión lineal.</p>
      </div>
    </div>
  </div>
</div>
