<div class="content">
    <app-barratareas></app-barratareas>
  <div class="container-fluid">
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-icon-button color="primary" (click)="openDialog('0ms','0ms')" aria-label="Example icon button with a vertical three dot icon">
            <i class="material-icons">post_add</i>
          </button>


          <button mat-icon-button color="primary" (click)="openBusqueda()" aria-label="Example icon button with a heart icon">
            <i class="material-icons">search</i>
          </button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a open in new tab icon">
            <i class="material-icons">file_upload</i>
          </button>
          <mat-form-field *ngIf="buscador">
            <input matInput width="350" (keyup)="applyFilter($event.target.value)"
           placeholder="Escriba algo para filtrar">
         </mat-form-field>
        </div>
      </div>
    </section>
    <div class="row">
           <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Inventarios {{parametros}}</h4>
                    <p class="card-category">Inventarios del Sistema</p>
                </div>
                <div class="card-body">

                    <mat-table  [dataSource]="dataSource"  matSort #empTbSort="matSort">
                        <!--  Columna ID-->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>codigo Producto</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="producto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="presentacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Presentación</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.presentacion}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="cantidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Unidades</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
                      </ng-container>
                     <ng-container matColumnDef="peso">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.peso}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="fecha_produccion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Producciòn</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.fecha_produccion}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="fecha_vencimiento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de vencimiento</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.fecha_vencimiento}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="dias">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Dias en Stock</mat-header-cell>
                            <mat-cell *matCellDef="let row" ><div [ngStyle]="{'color':row.dias>=7 ? 'green':'red'}">Vence en <strong>{{row.dias}}</strong></div></mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="ciclo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Reempaque</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.ciclo}} </mat-cell>
                      </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="selected(row)" [ngClass]="{'highlighted': selectedRowIndex == row}"
                        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>

                      </mat-table>
                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>

                </div>
            </div>
        </div>

    </div>
  </div>
    </div>


