<div class="content">
  <app-barratareas></app-barratareas>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Ventas del Mes</p>
            <h3 class="card-title">
              <small>S/</small>
              {{ totalVentas }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Últimas ventas del mes
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">delete</i>
            </div>
            <p class="card-category">Total de kilos de merma</p>

            <h3 class="card-title">{{ totalMermas }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">add_shopping_cart</i> Últimas 24 horas
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_offer</i>
            </div>
            <p class="card-category">Total de oferta</p>
            <h3 class="card-title">{{ totalOfertas }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <div class="card-icon">
                <i class="material-icons">local_offer</i> Total de oferta
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">show_chart</i>
            </div>
            <p class="card-category">Total de demanda</p>
            <h3 class="card-title">{{ totalDemanda }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Última actualización
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">delete_sweep</i>
            </div>
            <p class="card-category">Total de mermas semanal</p>
            <h3 class="card-title">{{ totalMermasSemana }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Última actualización
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">event_available</i>
            </div>
            <p class="card-category">Total de ventas semanal</p>
            <h3 class="card-title">S/ {{ totalVentasSemana }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Última actualización
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- Gráfico de Compras Diarias -->
          <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-success">
                <div class="ct-chart" id="dailyPurchasesChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Compras realizadas día tras día</h4>
                <p class="card-category">
                  <span class="text-success"
                    ><i class="fa fa-long-arrow-up"></i> Aumento del 20% en
                    compras hoy.</span
                  >
                </p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> Actualizado hace 4
                  minutos
                </div>
              </div>
            </div>
          </div>

          <!-- Gráfico de Compras por Hora -->
          <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-warning">
                <div class="ct-chart" id="hourlyPurchasesChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  Compras realizadas en las horas del día
                </h4>
                <p class="card-category">Últimas compras de la semana</p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> Actualizado hace 1
                  hora
                </div>
              </div>
            </div>
          </div>

          <!-- Gráfico de Ventas Anuales -->
          <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-danger">
                <div class="ct-chart" id="yearlySalesChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Ventas de todo el año</h4>
                <p class="card-category">Ventas totales del año</p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> Actualizado hace 2
                  días
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
